* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Goldman, sans-serif;
  margin: 10rem;
}
#buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#changebutton {
  margin: 5rem;
  border: none;
  height: 5rem;
  width: 10%;
  border-radius: 10px;
  background: white;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
#changebutton:focus {
  outline: none;
}
#changebutton:hover {
  background-color: rgb(214, 201, 127);
  cursor: pointer;
}

#rbgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
  margin: 0 auto;
  
}

#rbgText {
  font-size: 2rem;
  margin: 1rem;
}
