* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Goldman, sans-serif;
  margin: 10rem;
}
#buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#changebutton {
  margin: 5rem;
}
