* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Goldman, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  margin: 4rem;
}
#buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#changebutton {
  margin: 5rem;
  border: none;
  height: 5rem;
  width: 10%;
  border-radius: 10px;
  background: white;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  font-family: Goldman, sans-serif;
  font-size: 2rem;
}
#changebutton:focus {
  outline: none;
}
#changebutton:hover {
  background-color: rgb(142, 180, 224);
  cursor: pointer;
}

#rbgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: fit-content;
  margin: 4rem auto;
}

#rbgText {
  font-size: 2rem;
  margin: 1rem;
}
